<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="appointment">
            <h2><span jhiTranslate="appointmentsApp.appointment.detail.title">Appointment</span> {{ appointment.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="appointmentsApp.appointment.startDateTime">Start Date Time</span></dt>
                <dd>
                    <span>{{ appointment.startDateTime }}</span>
                </dd>
                <dt><span jhiTranslate="appointmentsApp.appointment.house">House</span></dt>
                <dd>
                    <div *ngIf="appointment.house">
                        <a [routerLink]="['/house', appointment.house?.id, 'view']">{{ appointment.house?.number }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="appointmentsApp.appointment.service">Service</span></dt>
                <dd>
                    <div *ngIf="appointment.service">
                        <a [routerLink]="['/service', appointment.service?.id, 'view']">{{ appointment.service?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/appointment', appointment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
